/* This is the styling of the web application main */
:root{
    --border: 1px dashed lightgrey
}
main > section> div{
    padding: 15px;
}
.heading hr{
    width: 100px;
    margin: 0;
    border: 2px solid #000 !important;
}
hr{
    margin: 30px 100px;
}
.card-img-top{
    background-position: center;
    background-size: contain;
}
.card{
    cursor: pointer;
    transition: 1s;
}
.form-section{
    padding: 50px 10px;
    width: 100%;
    display: grid;
    /* margin: 0px 10px 20px; */
}
.fields{
    display: grid;
}
.fields > label > textarea{
    height: 300px;
}
.fields > label > textarea, input{
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid lightgrey;
}
.fields > button{
    width: 200px;
}
/* ::-webkit-scrollbar{
    width: 10px;
} */
/*
This is the media screen for mobile devices (up to 767px)
*/
@media screen and (max-width: 767px){
    main > section{
        width: 100%;
        min-height: 300px;
        /* border: var(--border); */
    }
    .all_cards{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, fr);
    }
}

/*
This is the media screen for tablets (768px - 991px)
*/
@media screen and (min-width:768px) and (max-width: 991px){
    main > section{
        width: 100%;
    }
    .all_cards{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    /* .form-section{
        padding: 50px 30px;
    } */
}

/*
This is the media screen for laptops(992px - 1199px)
*/
@media screen and (min-width:992px) and (max-width: 1199px){
    .all_cards{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .form-section{
        padding: 50px 30px;
    }
}

/*
This is the media screen for desktops (1200px and above)
*/
@media screen and (min-width: 1200px){
    main{
        display: grid;
        place-content: center;
    }
    main > section{
        width: 1000px;
        min-height: 300px;
        /* border: var(--border); */
    }
    .all_cards{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    .form-section{
        padding: 50px 30px;
    }
}