:root{
    --border: 1px solid lightgrey;
}
.loginPage{
    width: 400px;
    height: 400px;
    border: var(--border);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}