/* This is the styling of the notification */

.notify{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}