/* Add Page CSS*/
.addPage{
    width: 100%;
    height: 65vh;
    background: url('../Assets/kingReward.png');
    background-position: center;
    background-size: cover;
    object-fit: fill;
    filter: brightness(20%);
    /* border: 1px solid lightgrey; */
}
.text{
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 100%;
    /* border: 1px solid lightgrey; */
}
.text hr{
    margin: 0px 50px;
    border: 2px solid white;
}
.btn-light{
    margin: 10px 0px 0px;
}

/*
This is the media screen for mobile devices (up to 767px)
*/
@media screen and (max-width: 767px){
    .text{
        padding: 0px 25px;
    }
}

/*
This is the media screen for tablets (768px - 991px)
*/
@media screen and (min-width:768px) and (max-width: 991px){}

/*
This is the media screen for laptops(992px - 1199px)
*/
@media screen and (min-width:992px) and (max-width: 1199px){}

/*
This is the media screen for desktops (1200px and above)
*/
@media screen and (min-width: 1200px){}